.chi-button {
  --chi-button-bg-color: var(--chi-fill-color-base);
  --chi-button-border-color: var(--chi-border-color-base);
  --chi-button-text-color: var(--chi-content-color-base);

  --chi-button-bg-color-hover: var(--chi-button-bg-color);
  --chi-button-border-color-hover: var(--chi-color-primary-light-2);
  --chi-button-text-color-hover: var(--chi-color-primary-light-2);

  --chi-button-bg-color-focus: var(--chi-button-bg-color);
  --chi-button-border-color-focus: var(--chi-color-primary-light-2);
  --chi-button-text-color-focus: var(--chi-color-primary-light-2);

  --chi-button-bg-color-active: var(--chi-button-bg-color);
  --chi-button-border-color-active: var(--chi-color-primary-dark-1);
  --chi-button-text-color-active: var(--chi-color-primary-dark-1);

  --chi-button-bg-color-disabled: var(--chi-fill-color-background);
  --chi-button-border-color-disabled: var(--chi-border-color-light-1);
  --chi-button-text-color-disabled: var(--chi-content-color-disabled);

  --chi-button-border: var(--chi-border-shape) var(--chi-button-border-color);
  --chi-button-radius: var(--chi-radius-base);

  --chi-button-height: 32px;
  --chi-button-v-padding: 0;
  --chi-button-h-padding: 14px;
  --chi-button-font-size: var(--chi-font-size-base);
  --chi-button-series-span: 8px;
}

.chi-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: var(--chi-button-height);
  padding: var(--chi-button-v-padding) var(--chi-button-h-padding);
  font-family: var(--chi-font-family-base);
  font-size: var(--chi-font-size-base);
  font-variant-numeric: tabular-nums;
  font-weight: 400;
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  background-color: var(--chi-button-bg-color);
  border: var(--chi-button-border);
  border-radius: var(--chi-button-radius);
  color: var(--chi-button-text-color);
  cursor: pointer;
  user-select: none;
  outline: 0;
  transition: var(--chi-transition-color), var(--chi-transition-background),
    var(--chi-transition-border), var(--chi-transition-shadow);

  &:hover {
    background-color: var(--chi-button-bg-color-hover);
    border-color: var(--chi-button-border-color-hover);
    color: var(--chi-button-text-color-hover);
  }

  &:focus {
    background-color: var(--chi-button-bg-color-focus);
    border-color: var(--chi-button-border-color-focus);
    color: var(--chi-button-text-color-focus);
    outline: 0;
  }

  &:active {
    background-color: var(--chi-button-bg-color-active);
    border-color: var(--chi-button-border-color-active);
    color: var(--chi-button-text-color-active);
    outline: 0;
  }

  &:not(.chi-button--block) + &:not(.chi-button--block) {
    margin-inline-start: var(--chi-button-series-span);
  }
}

.chi-button--block {
  display: flex;
  width: 100%;
}

.chi-button--small {
  --chi-button-height: 24px;
  --chi-button-h-padding: 10px;
}

.chi-button--large {
  --chi-button-height: 40px;
  --chi-button-h-padding: 20px;
}

.chi-button--transparent {
  --chi-button-bg-color: transparent;
  --chi-button-border-color: rgba(255, 255, 255, 0.6);
  --chi-button-text-color: rgba(255, 255, 255, 0.8);

  --chi-button-bg-color-hover: transparent;
  --chi-button-border-color-hover: var(--chi-color-primary);
  --chi-button-text-color-hover: var(--chi-color-primary);

  --chi-button-bg-color-focus: transparent;
  --chi-button-text-color-focus: var(--chi-color-primary);

  --chi-button-bg-color-active: transparent;
  --chi-button-border-color-active: var(--chi-color-primary);
  --chi-button-text-color-active: var(--chi-color-primary);

  --chi-button-bg-color-disabled: transparent;
  --chi-button-border-color-disabled: var(--chi-content-color-disabled);
}

@each $val in primary, success, warning, info, error {
  .chi-button--$(val) {
    --chi-button-bg-color: var(--chi-color-$(val));
    --chi-button-border-color: var(--chi-color-$(val));
    --chi-button-text-color: var(--chi-color-white);

    --chi-button-bg-color-hover: var(--chi-color-$(val)-light-2);
    --chi-button-border-color-hover: var(--chi-color-$(val)-light-2);
    --chi-button-text-color-hover: var(--chi-color-white);

    --chi-button-bg-color-focus: var(--chi-color-$(val)-light-2);
    --chi-button-border-color-focus: var(--chi-color-$(val)-light-2);
    --chi-button-text-color-focus: var(--chi-color-white);

    --chi-button-bg-color-active: var(--chi-color-$(val)-dark-1);
    --chi-button-border-color-active: var(--chi-color-$(val)-dark-1);
    --chi-button-text-color-active: var(--chi-color-white);

    --chi-button-bg-color-disabled: var(--chi-fill-color-background);
    --chi-button-border-color-disabled: var(--chi-border-color-light-1);
    --chi-button-text-color-disabled: var(--chi-content-color-disabled);

    &.chi-button--simple {
      --chi-button-bg-color: var(--chi-color-$(val)-opacity-8);
      --chi-button-border-color: var(--chi-color-$(val)-opacity-4);
      --chi-button-text-color: var(--chi-color-$(val));

      --chi-button-bg-color-hover: var(--chi-color-$(val)-opacity-7);
      --chi-button-border-color-hover: var(--chi-color-$(val)-opacity-4);
      --chi-button-text-color-hover: var(--chi-color-$(val));

      --chi-button-bg-color-focus: var(--chi-color-$(val)-opacity-3);
      --chi-button-border-color-focus: var(--chi-color-$(val)-opacity-3);
      --chi-button-text-color-focus: var(--chi-color-white);

      --chi-button-bg-color-active: var(--chi-color-$(val)-opacity-3);
      --chi-button-border-color-active: var(--chi-color-$(val)-opacity-3);
      --chi-button-text-color-active: var(--chi-color-white);

      --chi-button-bg-color-disabled: var(--chi-fill-color-background);
      --chi-button-border-color-disabled: var(--chi-border-color-light-1);
      --chi-button-text-color-disabled: var(--chi-content-color-disabled);
    }

    &.chi-button--transparent {
      --chi-button-bg-color: transparent;
      --chi-button-text-color: var(--chi-color-$(val));

      --chi-button-bg-color-hover: var(--chi-color-$(val)-opacity-8);
      --chi-button-text-color-hover: var(--chi-color-$(val));

      --chi-button-bg-color-focus: var(--chi-color-$(val)-opacity-8);
      --chi-button-text-color-focus: var(--chi-color-$(val));

      --chi-button-bg-color-active: var(--chi-color-$(val)-opacity-7);
      --chi-button-text-color-active: var(--chi-color-$(val));

      --chi-button-bg-color-disabled: transparent;
      --chi-button-border-color-disabled: var(--chi-content-color-disabled);
      --chi-button-text-color-disabled: var(--chi-content-color-disabled);
    }

    &.chi-button--text {
      --chi-button-text-color: var(--chi-color-$(val));

      --chi-button-text-color-hover: var(--chi-color-$(val)-light-2);

      --chi-button-text-color-focus: var(--chi-color-$(val)-light-2);

      --chi-button-text-color-active: var(--chi-color-$(val)-dark-1);
    }
  }
}

.chi-button--disabled,
.chi-button--disabled:active,
.chi-button--disabled:hover {
  background-color: var(--chi-button-bg-color-disabled);
  border-color: var(--chi-button-border-color-disabled);
  color: var(--chi-button-text-color-disabled);
  cursor: not-allowed;
}

.chi-button--text,
.chi-button--text:hover,
.chi-button--text:focus,
.chi-button--text:active {
  background-color: transparent;
  border-color: transparent;
}
