.chi-linker,
.chi-linker *,
.chi-linker *:before,
.chi-linker *:afer {
  box-sizing: border-box;
}

a.chi-linker {
  --chi-linker-text-color: inherit;
  --chi-linker-text-color-hover: var(--chi-color-primary-light-1);
  --chi-linker-text-color-active: var(--chi-color-primary-dark-1);
  --chi-linker-text-color-disabled: var(--chi-content-color-disabled);

  --chi-linker-series-span: 8px;
  --chi-linker-underline-height: 1px;

  display: inline-flex;
  align-items: center;
  position: relative;
  font-family: var(--chi-font-family-base);
  font-size: var(--chi-font-size-base);
  font-variant-numeric: tabular-nums;
  line-height: var(--chi-line-height-base);
  text-decoration: none;
  vertical-align: inherit;
  color: var(--chi-content-color-base);
  color: var(--chi-linker-text-color);
  cursor: pointer;
  outline: 0;
  transition: var(--chi-transition-color);

  &:hover,
  &:focus {
    text-decoration: none;
    color: var(--chi-linker-text-color-hover);
  }

  &:active {
    color: var(--chi-linker-text-color-active);
  }
}

a.chi-linker--disabled {
  cursor: not-allowed;

  &,
  &:hover,
  &:focus,
  &:active {
    color: var(--chi-linker-text-color-disabled);
  }
}

@each $val in primary, success, warning, info, error {
  a.chi-linker--$(val) {
    --chi-linker-text-color: var(--chi-color-$(val));
    --chi-linker-text-color-hover: var(--chi-color-$(val)-light-2);
    --chi-linker-text-color-active: var(--chi-color-$(val)-dark-1);
    --chi-linker-text-color-disabled: var(--chi-color-$(val)-opacity-5);
  }
}

.chi-linker + .chi-linker {
  margin-inline-start: var(--chi-linker-series-span);
}
