.chi-number-input,
.chi-number-input *,
.chi-number-input *::before,
.chi-number-input *::after {
  box-sizing: border-box;
}

.chi-number-input-vars {
  --chi-number-input-control-color-out: var(--chi-color-error);
}

.chi-number-input {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 100%;
  height: var(--chi-input-height);
  padding: var(--chi-input-v-padding) var(--chi-input-h-padding);
  padding-inline-end: calc(var(--chi-input-h-padding) + 20px);
  font-family: var(--chi-font-family-base);
  font-size: var(--chi-font-size-base);
  font-variant-numeric: tabular-nums;
  background-color: var(--chi-input-bg-color);
  border: var(--chi-border-shape) var(--chi-input-border-color);
  border-radius: var(--chi-input-radius);
  color: var(--chi-content-color-base);
  cursor: text;
  outline: 0;
  transition: var(--chi-transition-background), var(--chi-transition-border),
    var(--chi-transition-shadow);

  &:hover {
    border-color: var(--chi-input-border-color-hover);
  }
}

.chi-number-input:focus,
.chi-number-input:focus-within,
.chi-number-input--focused {
  z-index: 2;
  box-shadow: var(--chi-shadow-focus) var(--chi-input-shadow-color-focus);
  border-color: var(--chi-input-border-color-focus);
}

@each $val in (success, warning, error) {
  .chi-number-input.chi-number-input--$(val) {
    --chi-input-border-color: var(--chi-color-$(val)-light-1);
    --chi-input-border-color-hover: var(--chi-color-$(val)-light-1);
    --chi-input-shadow-color-focus: var(--chi-color-$(val)-opacity-6);
    --chi-input-icon-color-hover: var(--chi-color-$(val));
  }
}

.chi-number-input--disabled {
  background-color: var(--chi-input-bg-color-disabled);
  cursor: not-allowed;
}

.chi-number-input--disabled,
.chi-number-input--disabled:hover,
.chi-number-input--disabled:focus,
.chi-number-input--disabled:focus-within {
  border-color: var(--chi-border-color-base);
  box-shadow: none;
}

.chi-number-input--small {
  --chi-input-height: 24px;
  --chi-input-v-padding: 1px;
}

.chi-number-input--large {
  --chi-input-height: 40px;
  --chi-input-v-padding: 7px;
}

.chi-number-input__control {
  flex: 1 0 0;
  min-width: 0;
  height: 100%;
  padding: 0;
  font-size: inherit;
  line-height: var(--chi-input-line-height);
  background-color: transparent;
  border: 0;
  border-radius: var(--chi-input-radius);
  color: var(--chi-input-control-color);
  outline: 0;
  transition: var(--chi-transition-color);
}

.chi-number-input--out-of-range .chi-number-input__control {
  color: var(--chi-number-input-control-color-out);
}

.chi-number-input__plus,
.chi-number-input__minus {
  position: absolute;
  inset-inline-end: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 50%;
  border: var(--chi-input-border);
  border-width: 0;
  border-inline-start-width: var(--chi-border-width);
  color: var(--chi-input-icon-color);
  cursor: pointer;
  user-select: none;
  transition: var(--chi-transition-color);
}

.chi-number-input__plus {
  top: 0;
}

.chi-number-input__minus {
  bottom: 0;
  border-top-width: 1px;
}

.chi-number-input__plus--disabled,
.chi-number-input__plus--disabled:hover,
.chi-number-input__minus--disabled,
.chi-number-input__minus--disabled:hover {
  color: var(--chi-input-control-color-disabled);
  cursor: not-allowed;
}

.chi-number-input__plus:hover,
.chi-number-input__plus--holding,
.chi-number-input__minus:hover,
.chi-number-input__minus--holding {
  color: var(--chi-input-icon-color-hover);
}

.chi-number-input--disabled .chi-number-input__plus,
.chi-number-input--disabled .chi-number-input__minus,
.chi-number-input--disabled .chi-number-input__icon,
.chi-number-input--disabled .chi-number-input__control {
  color: var(--chi-input-control-color-disabled);
  pointer-events: none;
  cursor: not-allowed;
}

.chi-number-input__control:disabled {
  cursor: not-allowed;
}

.chi-number-input__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: var(--chi-input-icon-color);
  user-select: none;
}

.chi-number-input__clear {
  position: absolute;
  inset-inline-end: calc(var(--chi-input-h-padding) + 20px);
  min-width: 14px;
  margin-inline-start: 4px;
  cursor: pointer;
}

.chi-number-input__clear {
  padding: 0;
  appearance: none;
  background: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}
