.chi-select {
  --chi-input-bg-color: var(--chi-fill-color-base);
  --chi-input-bg-color-disabled: var(--chi-fill-color-humble);

  --chi-input-border-color: var(--chi-border-color-base);
  --chi-input-border-color-hover: var(--chi-color-primary-light-1);
  --chi-input-border-color-focus: var(--chi-input-border-color-hover);

  --chi-input-shadow-color-focus: var(--chi-color-primary-opacity-6);

  --chi-input-placeholder-color: var(--chi-content-color-placeholder);

  --chi-input-control-color: var(--chi-content-color-base);
  --chi-input-control-color-disabled: var(--chi-content-color-disabled);

  --chi-input-icon-color: var(--chi-content-color-secondary);
  --chi-input-icon-color-hover: var(--chi-input-control-color-disabled);

  --chi-input-before-bg-color: var(--chi-fill-color-background);
  --chi-input-after-bg-color: var(--chi-fill-color-background);

  --chi-input-line-height: var(--chi-line-height-base);

  --chi-input-border: var(--chi-border-shape) var(--chi-input-border-color);
  --chi-input-radius: var(--chi-radius-base);

  --chi-input-count-color: var(--chi-content-color-secondary);
  --chi-input-count-color-disabled: var(--chi-input-control-color-disabled);

  --chi-input-count-font-size: var(--chi-font-size-secondary);

  --chi-input-count-line-height: var(--chi-line-height-secondary);

  --chi-input-height: 32px;
  --chi-input-v-padding: 4px;
  --chi-input-h-padding: 8px;
  --chi-input-padding: var(--chi-input-v-padding) var(--chi-input-h-padding);

  --chi-input-prefix-width: 32px;
  --chi-input-suffix-width: 32px;

  --chi-select-list-bg-color: var(--chi-bg-color-base);
  --chi-select-list-border-color: var(--chi-border-color-light-2);
  --chi-select-list-border: var(--chi-border-shape) var(--chi-select-list-border-color);
  --chi-select-list-radius: var(--chi-radius-base);
  --chi-select-list-shadow: var(--chi-shadow-base);
  --chi-select-check-color: var(--chi-color-primary-base);
  --chi-select-empty-color: var(--chi-content-color-placeholder);
  --chi-select-filter-height: 32px;
  --chi-select-filter-divider: var(--chi-border-shape) var(--chi-border-color-light-2);

  display: inline-flex;
  width: 100%;
  font-family: var(--chi-font-family-base);
  font-size: var(--chi-font-size-base);
  font-variant-numeric: tabular-nums;
  line-height: var(--chi-line-height-base);
  color: var(--chi-content-color-base);
  cursor: pointer;
}

.chi-select__selector {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 100%;
  height: var(--chi-input-height);
  padding: var(--chi-input-v-padding) var(--chi-input-h-padding);
  background-color: var(--chi-input-bg-color);
  border: var(--chi-border-shape) var(--chi-input-border-color);
  border-radius: var(--chi-input-radius);
  outline: 0;
  cursor: text;
  transition: var(--chi-transition-background), var(--chi-transition-border),
    var(--chi-transition-shadow);
}

.chi-select__selector:focus,
.chi-select__selector:focus-within,
.chi-select__selector--focused {
  z-index: 2;
  border-color: var(--chi-input-border-color-focus);
  box-shadow: var(--chi-shadow-focus) var(--chi-input-shadow-color-focus);
}

.chi-select__control {
  flex: 1 0 0;
  position: relative;
  display: flex;
  align-items: center;
  min-width: 40px;
  height: 100%;
  padding: 0;
  font-size: inherit;
  line-height: var(--chi-input-line-height);
  background-color: transparent;
  border: 0;
  border-radius: var(--chi-input-radius);
  color: var(--chi-input-control-color);
  outline: 0;
  transition: var(--chi-transition-color);
  user-select: none;
}

.chi-select__selected,
.chi-select__placeholder {
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  pointer-events: none;
  user-select: none;
}

.chi-select__selected--placeholder,
.chi-select__placeholder {
  color: var(--chi-input-placeholder-color);
}

.chi-select__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: var(--chi-input-icon-color);
  user-select: none;
}

.chi-select__suffix {
  margin-inline-start: 4px;
  transition: var(--chi-transition-opacity);
}

.chi-select__selector--focused .chi-select__arrow {
  transform: rotate(180deg);
}

.chi-select__list {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  background-color: var(--chi-select-list-bg-color);
  border: var(--chi-select-list-border);
  border-radius: var(--chi-select-list-radius);
  box-shadow: var(--chi-select-list-shadow);
  user-select: none;
}

.chi-select__options {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.chi-option {
  --chi-option-color: var(--chi-content-color-base);
  --chi-option-color-hitting: var(--chi-color-primary);
  --chi-option-color-selected: var(--chi-color-primary);
  --chi-option-color-disabled: var(--chi-fill-color-disabled);

  --chi-option-bg-color: transparent;
  --chi-option-bg-color-hover: var(--chi-fill-color-humble);
  --chi-option-bg-color-selected: var(--chi-color-primary-opacity-8);
  --chi-option-bg-color-disabled: var(--chi-option-bg-color);

  --chi-option-d-color: var(--chi-border-color-light-2);
  --chi-option-divider: var(--chi-border-shape) var(--chi-option-d-color);

  --chi-option-group-color: var(--chi-content-color-secondary);
  --chi-option-group-font-size: var(--chi-font-size-secondary);

  --chi-option-label-v-padding: 5px;
  --chi-option-label-h-padding: 16px;
  --chi-option-min-height: 32px;

  display: inline-flex;
  align-items: center;
  width: 100%;
  min-height: var(--chi-option-min-height);
  padding: var(--chi-option-label-v-padding) var(--chi-option-label-h-padding);
  list-style: none;
  white-space: nowrap;
  color: var(--chi-option-color);
  cursor: pointer;
  transition: var(--chi-transition-color), var(--chi-transition-background);
}

.chi-option-hitting {
  background-color: var(--chi-option-bg-color-hitting);
  color: var(--chi-option-color-hitting);
}

.chi-select__label {
  flex: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
