.chi-space-vars {
  --chi-space-v-gap: 8px;
  --chi-space-h-gap: 12px;
}

.chi-space {
  display: flex;
  flex-wrap: wrap;
  gap: var(--chi-space-v-gap) var(--chi-space-h-gap);
  font-family: var(--chi-font-family-base);
  font-size: var(--chi-font-size-base);
  font-variant-numeric: tabular-nums;
  line-height: var(--chi-line-height-base);
  color: var(--chi-content-color-base);
}

.chi-space--vertical {
  flex-direction: column;
}

.chi-space--no-wrap {
  flex-wrap: nowrap;
}

.chi-space--inline {
  display: inline-flex;
}

.chi-space--small {
  --chi-space-v-gap: 4px;
  --chi-space-h-gap: 8px;
}

.chi-space--large {
  --chi-space-v-gap: 12px;
  --chi-space-h-gap: 16px;
}

.chi-space__item {
  display: flex;
  max-width: 100%;
}
