.chi-title {
  --chi-title-font-size-level-1: 36px;
  --chi-title-font-size-level-2: 30px;
  --chi-title-font-size-level-3: 24px;
  --chi-title-font-size-level-4: 20px;
  --chi-title-font-size-level-5: var(--chi-font-size-primary);
  --chi-title-font-size-level-6: var(--chi-font-size-base);
  --chi-title-font-weight: 600;
  --chi-title-font-weight-thin: 300;
  --chi-title-color: var(--chi-content-color-primary);
  --chi-title-marker-width: 4px;
  --chi-title-marker-color: var(--chi-content-color-placeholder);
  --chi-title-marker-offset: 16px;

  margin-top: 1em;
  margin-bottom: 0.5em;
  font-family: var(--chi-font-family-base);
  font-size: var(--chi-font-size-base);
  font-weight: var(--chi-title-font-weight);
  font-variant-numeric: tabular-nums;
  line-height: var(--chi-line-height-base);
  color: var(--chi-content-color-base);
  color: var(--chi-title-color);
  transition: var(--chi-transition-color);
}

.chi-title--top {
  margin-top: 0;
}

.chi-title--thin {
  font-weight: var(--chi-title-font-weight-thin);
}

@each $val in (primary, info, success, warning, error) {
  .chi-title--$(val) {
    --chi-title-color: var(--chi-color-$(val));
  }

  .chi-title--marker-$(val) {
    --chi-title-marker-color: var(--chi-color-$(val));
  }
}

.chi-title--marker {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    inset-inline-start: calc(var(--chi-title-marker-offset) * -1);
    width: var(--chi-title-marker-width);
    background-color: var(--chi-title-marker-color);
    transition: var(--chi-transition-background);
  }
  &.chi-title--aligned {
    padding-inline-start: var(--chi-title-marker-offset);

    &::before {
      inset-inline-start: 0;
    }
  }
}

h1.chi-title {
  font-size: var(--chi-title-font-size-level-1);
}

h2.chi-title {
  font-size: var(--chi-title-font-size-level-2);
}

h3.chi-title {
  font-size: var(--chi-title-font-size-level-3);
}

h4.chi-title {
  font-size: var(--chi-title-font-size-level-4);
}

h5.chi-title {
  font-size: var(--chi-title-font-size-level-5);
}

h6.chi-title {
  font-size: var(--chi-title-font-size-level-6);
}

.chi-ol,
.chi-ol *,
.chi-ol *::before,
.chi-ol *::after,
.chi-ul,
.chi-ul *,
.chi-ul *::before,
.chi-ul *::after {
  box-sizing: border-box;
}

.chi-ol,
.chi-ul {
  padding: 0;
  font-family: var(--chi-font-family-base);
  font-size: var(--chi-font-size-base);
  font-variant-numeric: tabular-nums;
  line-height: var(--chi-line-height-base);
  color: var(--chi-content-color-base);
}

.chi-ol > li,
.chi-ul > li {
  margin-inline-start: 20px;
  padding-inline-start: 4px;
}

.chi-text,
.chi-text *,
.chi-text *::before,
.chi-text *::after {
  box-sizing: border-box;
}

.chi-text {
  --chi-text-font-family-mono: var(--chi-font-family-mono);
  --chi-text-font-weight-strong: 600;
  --chi-text-font-weight-thin: 300;
  --chi-text-color: var(--chi-content-color-base);
  --chi-text-color-disabled: var(--chi-content-color-disabled);
  --chi-text-color-marked: var(--chi-content-color-base);
  --chi-text-color-reversed: var(--chi-bg-color-base);
  --chi-text-mark-color: var(--chi-fill-color-hover);
  --chi-text-code-bg-color: var(--chi-fill-color-humble);
  --chi-text-code-radius: var(--chi-radius-small);
  --chi-text-keyboard-bg-color: var(--chi-fill-color-background);
  --chi-text-keyboard-border-color: var(--chi-border-color-light-1);
  --chi-text-keyboard-radius: var(--chi-radius-base);

  font-family: var(--chi-font-family-base);
  font-size: var(--chi-font-size-base);
  font-variant-numeric: tabular-nums;
  line-height: var(--chi-line-height-base);
  color: var(--chi-content-color-base);
  color: var(--chi-text-color);
  transition: var(--chi-transition-color), var(--chi-transition-background);
}

.chi-text--code {
  padding: 3px 5px 2px;
  font-family: var(--chi-text-font-family-mono);
  background-color: var(--chi-text-code-bg-color);
  border-radius: var(--chi-text-code-radius);
}

.chi-text--italic {
  font-style: italic;
}

.chi-text--keyboard {
  display: inline-flex;
  align-items: center;
  padding: 4px 5px;
  font-family: var(--chi-text-font-family-mono);
  line-height: 1;
  background-color: var(--chi-text-keyboard-bg-color);
  border: var(--chi-border-shape) var(--chi-text-keyboard-border-color);
  border-radius: var(--chi-text-keyboard-radius);
}

.chi-text--strong {
  font-weight: var(--chi-text-font-weight-strong);
}

.chi-text--underline {
  text-decoration: underline;
}

@each $val in (primary, info, success, warning, error) {
  .chi-text--$(val) {
    --chi-text-color: var(--chi-color-$(val));
    --chi-text-mark-color: var(--chi-color-$(val)-opacity-1);
  }
}

.chi-text--disabled {
  color: var(--chi-text-color-disabled);
}

.chi-text--mark {
  padding: 0 1px;
  background-color: var(--chi-text-mark-color);
  color: var(--chi-text-color-marked);
}

.chi-text--reversed {
  color: var(--chi-text-color-reversed);
}

.chi-blockquote,
.chi-blockquote *,
.chi-blockquote *::before,
.chi-blockquote *::after {
  box-sizing: border-box;
}

.chi-blockquote {
  --chi-blockquote-color: var(--chi-content-color-base);
  --chi-blockquote-padding-inline-start: 10px;
  --chi-blockquote-marker-width: 4px;
  --chi-blockquote-marker-color: var(--chi-border-color-base);

  margin: 1em 0;
  padding-inline-start: var(--chi-blockquote-padding-inline-start);
  font-family: var(--chi-font-family-base);
  font-size: var(--chi-font-size-base);
  font-variant-numeric: tabular-nums;
  line-height: var(--chi-line-height-base);
  border-inline-start: var(--chi-blockquote-marker-width) solid var(--chi-blockquote-marker-color);
  color: var(--chi-content-color-base);
  color: var(--chi-blockquote-color);
  transition: var(--chi-transition-color);
}
