.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.chi-fade-enter-active {
  animation-name: chi-fade-in;
  animation-duration: var(--chi-transition-duration);
}

.chi-fade-leave-active {
  animation-name: chi-fade-out;
  animation-duration: var(--chi-transition-duration);
}

@keyframes chi-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes chi-fade-out {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}
