:root {
  /**
   * color
   * ----------------------------------------------------------------------------------------------------
   */
  --chi-color-black: #000;
  --chi-color-white: #fff;

  --chi-color-brand: #7b5aa3;
  --chi-color-secondary-1: #6c60ab;
  --chi-color-secondary-2: #c7d1ea;
  --chi-color-secondary-3: #815dab;
  --chi-color-secondary-4: #efc729;
  --chi-color-secondary-5: #c7d1ea;
  --chi-color-secondary-6: #8187c5;

  @each $val, $color in (primary, info, success, warning, error),
    (#7b5aa3, #3bc9db, #20c997, #fab005, #f03e3e) {
    --chi-color-$(val): $(color);

    @for $i from 1 to 9 {
      --chi-color-$(val)-light-$(i): mix(#fff, $(color), .$(i));
      --chi-color-$(val)-opacity-$(i): mix(transparent, $(color), .$(i));
    }
    @for $i from 1 to 2 {
      --chi-color-$(val)-dark-$(i): mix(#000, $(color), .$(i));
    }
  }

  --chi-content-color-primary: #212529;
  --chi-content-color-base: #495057;
  --chi-content-color-secondary: #868e96;
  --chi-content-color-third: #a3adb1;
  --chi-content-color-disabled: #adb5bd;
  --chi-content-color-placeholder: #ced4da;
  --chi-content-color-humble: #dee2e6;
  --chi-content-color-reverse: #fff;

  --chi-bg-color-base: #fff;
  --chi-bg-color-reverse: #131719;

  --chi-border-color-base: #ced4da;
  --chi-border-color-light-1: #dee2e6;
  --chi-border-color-light-2: #e9ecef;
  --chi-border-color-dark-1: #adb5bd;
  --chi-border-color-dark-2: #868e96;
  --chi-border-width: 1px;
  --chi-border-style: solid;
  --chi-border-shape: var(--chi-border-width) var(--chi-border-style);
  --chi-border-base: var(--chi-border-shape) var(--chi-border-color-base);
  --chi-border-light-1: var(--chi-border-shape) var(--chi-border-color-light-1);
  --chi-border-light-2: var(--chi-border-shape) var(--chi-border-color-light-2);
  --chi-border-dark-1: var(--chi-border-shape) var(--chi-border-color-dark-1);
  --chi-border-dark-2: var(--chi-border-shape) var(--chi-border-color-dark-2);

  --chi-fill-color-base: #fff;
  --chi-fill-color-secondary: #d9dfe2;
  --chi-fill-color-disabled: #dee2e6;
  --chi-fill-color-hover: #e9ecef;
  --chi-fill-color-humble: #f3f4f6;
  --chi-fill-color-background: #f8f9fa;
  --chi-fill-color-reverse: #131719;

  --chi-font-family-base: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
  --chi-font-family-mono: ui-monospace, SFMono-Regular, SF Mono, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monospace;

  --chi-font-size-base: 14px;
  --chi-font-size-primary: 16px;
  --chi-font-size-secondary: 12px;

  --chi-line-height-base: 1.5;
  --chi-line-height-secondary: 1;
  --chi-radius-base: 4px;
  --chi-radius-large: 6px;
  --chi-radius-small: 2px;

  --chi-shadow-x: 0;
  --chi-shadow-y: 0;
  --chi-shadow-blur: 6px;
  --chi-shadow-shape: var(--chi-shadow-x) var(--chi-shadow-y) var(--chi-shadow-blur);
  --chi-shadow-base: var(--chi-shadow-shape) var(--chi-border-color-base);
  --chi-shadow-color-base: #dee2e6;
  --chi-shadow-color-light-1: #e9ecef;
  --chi-shadow-color-light-2: #f1f3f5;
  --chi-shadow-color-dark-1: #ced4da;
  --chi-shadow-color-dark-2: #adb5bd;
  --chi-shadow-base: var(--chi-shadow-shape) var(--chi-shadow-color-base);
  --chi-shadow-light-1: var(--chi-shadow-shape) var(--chi-shadow-color-light-1);
  --chi-shadow-light-2: var(--chi-shadow-shape) var(--chi-shadow-color-light-2);
  --chi-shadow-dark-1: var(--chi-shadow-shape) var(--chi-shadow-color-dark-1);
  --chi-shadow-dark-2: var(--chi-shadow-shape) var(--chi-shadow-color-dark-2);
  --chi-shadow-border: 0 0 0 1px;
  --chi-shadow-focus: 0 0 2px 2px;

  --chi-transition-duration: 0.25s;
  --chi-transition-timing: ease;
  --chi-transition-base: var(--chi-transition-duration) var(--chi-transition-timing);
  --chi-transition-color: color var(--chi-transition-base);
  --chi-transition-background: background-color var(--chi-transition-base);
  --chi-transition-border: border-color var(--chi-transition-base);
  --chi-transition-shadow: box-shadow var(--chi-transition-base);
  --chi-transition-opacity: opacity var(--chi-transition-base);
  --chi-transition-transform: transform var(--chi-transition-base);

  --chi-z-index-masker: 1500;
  --chi-z-index-popup: 2000;
}

:root.dark {
  color-scheme: dark;

  --chi-content-color-primary: rgba(255, 255, 255, 0.94);
  --chi-content-color-base: rgba(255, 255, 255, 0.88);
  --chi-content-color-secondary: rgba(255, 255, 255, 0.7);
  --chi-content-color-disabled: rgba(255, 255, 255, 0.4);
  --chi-content-color-placeholder: rgba(255, 255, 255, 0.3);
  --chi-content-color-humble: rgba(255, 255, 255, 0.5);
  --chi-content-color-reverse: rgba(255, 255, 255, 0.1);

  --chi-bg-color-base: #181a1b;
  --chi-bg-color-reverse: #fff;

  --chi-border-color-base: rgba(255, 255, 255, 0.25);
  --chi-border-color-light-1: rgba(255, 255, 255, 0.2);
  --chi-border-color-light-2: rgba(255, 255, 255, 0.15);

  --chi-fill-color-base: rgba(255, 255, 255, 0.06);
  --chi-fill-color-secondary: rgba(255, 255, 255, 0.46);
  --chi-fill-color-third: rgba(255, 255, 255, 0.36);
  --chi-fill-color-disabled: rgba(255, 255, 255, 0.28);
  --chi-fill-color-hover: rgba(255, 255, 255, 0.16);
  --chi-fill-color-humble: rgba(255, 255, 255, 0.12);
  --chi-fill-color-background: rgba(255, 255, 255, 0.06);
  --chi-fill-color-reverse: #fff;

  --chi-shadow-color-base: rgba(0, 0, 0, 0.7);
  --chi-shadow-color-light-1: rgba(0, 0, 0, 0.6);
  --chi-shadow-color-light-2: rgba(0, 0, 0, 0.5);
  --chi-shadow-color-dark-1: rgba(0, 0, 0, 0.8);
  --chi-shadow-color-dark-2: rgba(0, 0, 0, 0.9);
}
